.addworkout-wrapper {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(185,205,216,1) 0%, rgba(130,95,171,1) 100%);
  display: flex;
  flex-direction: column;
	// justify-content: center;
	align-items: center;
}

.addworkout-date {
  margin-top: 20px;
  color: white;
  font-weight: 700;
  font-size: 13px;
}