/* Global color themes */
$white: #ffffff;
$darkblue: #01426d;
$spanishblue: #016FB9;
$pacificblue: #22aed1;
$green: #009a50;
$inputgray: #dad9e1;

/* Header styles */
h1 {
  font-family: 'Cabin', sans-serif;
}

.wodlog-logo {
  margin: 0;
  padding: 0;
  font-family: "Satisfy", cursive;
  size: 1rem;
  color: $white;
}

/* Button themes */
.btn {
  height: 2.5rem;
  border: none;
  border-radius: 0.313rem;
  font-family: "Cabin", sans-serif;
  color: $white;
  font-weight: 500;
  transition: all .3s;

  &:hover {
    cursor: pointer;
    opacity: .6;
    transform: translateY(1px);
  }

  &:focus {
    outline: none;
  }
}

// Button sizes
.sm {
  width: 18.75rem;
}

// Button color schemes
.blue {
  background: #0073e6;
}

.green {
  background: $green;
}

.white {
  background: $white;
  color: black
}

// Button placements
.btm {
  position: absolute;
  bottom: 10px;
  left: 50%;
  margin-left: calc(-300px / 2)
}
