/* Global color themes */
$white: #ffffff;
$darkpurple: #483d8b;
$darkblue: #1c2a4e;
$purplegradient: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(185,205,216,1) 0%, rgba(130,95,171,1) 100%);

/* Header defaults */
.modal-h1 {
  margin: 0;
  padding: 5px 10px;
  font-size: 21px;
}

/* Button themes */
.btn {
  height: 40px;
  margin-bottom: 20px;
  color: $white;
  border: none;
  border-radius: 5px;
  font-weight: 700;
  transition: all .3s;

  &:hover {
    cursor: pointer;
    opacity: .6;
    transform: translateY(1px);
  }

  &:focus {
    outline: none;
  }
}

// Sizes
.sm {
  width: 300px;
}

// Color schemes
.purple {
  background: $darkpurple;
}

.blue {
  background: $darkblue;
}
