.workout-outer-wrapper {
  width: 100vw;
  height: 100vh;
  background: #0059b3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.workout-inner-wrapper {
  border-radius: 25px;
  position: relative;
  height: 450px;
  width: 450px;
  background: $white;
  display: flex;
  flex-direction: column;
}

.workout-headers {
  padding: 0;
  margin: 0 20px;
}

.workout-date {
  margin: 0;
  padding: 5px 0;
  text-align: center;
  color: gray;
  font-size: 17px;
}

.workout-description {
  margin: 0 20px;
  padding: 0;
}

.workout-exercises {
  margin: 0;
  padding: 0;
}