.workout-modal-visible {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  border-radius: 4px;
  opacity: .8;
}

.workout-modal-hidden {
  display: none;
}

.workout-modal-main {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 450px;
  background: white;
  border-radius: 4px;
}

/* Modal Components*/
/* Modal Description */
.modal-description-wrapper {
  width: 100%;
  border: 1px solid black;
}

.modal-description-header {
  margin: 0;
  padding: 0;
  border: 1px solid blue;
}

.modal-p {
  height: 200px;
  border: 1px solid red;
  margin: 0
}