.results-list-wrapper {
  width: 75%;

  @media screen and (max-width: $break-phone-landscape) {
    width: 90%;
  }
}

.results-list-headers {
  width: 100%;
  display: flex;
  flex-direction: row;
  background: #F6F9FC;
  padding: 0.313rem 0.625rem;
  box-sizing: border-box;
  border-radius: 5px 5px 0 0;
}

.results-list-headers > div {
  font-family: "Cabin", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
}

.results-table-createdat {
  width: 25%;
}

.results-table-type {
  width: 25%;
}

.results-table-description {
  width: 50%;
}