.workout-card-wrapper {
  width: 100%;
  height: 60px;
  padding: 0.313rem 0.625rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  background: $white;
  transition: all .3s;
  border: 1px solid lightgray;

  &:hover {
    background: #F6F9FC;
  }
}

.workout-card-wrapper > div:not(:last-child) {
  border-right: 1px solid lightgray;
}

.workout-card-wrapper-btn {
  text-decoration: none;

  &:hover {
    cursor: pointer;
  }
}

.workout-card-createdat {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Libre Franklin", sans-serif;
  font-size: 0.8rem;
  color: $darkblue;
}

.workout-card-type {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Libre Franklin", sans-serif;
  font-size: 0.8rem;
  color: $darkblue;
}

.workout-card-description {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  font-size: 0.8rem;
  font-weight: 400;
  color: $darkblue;
}