.results-list-wrapper {
  width: 90%;
  background: white;
  border: none;
  border-radius: 3px;
}

.results-list-headers {
  width: 100%;
  display: flex;
  flex-direction: row;
  background: #F6F9FC;
  padding: 5px 10px;
  box-sizing: border-box;
  border-radius: 3px;
}

.results-list-headers > div {
  font-size: 12px;
  font-weight: 600;
  text-align: center;
}

.results-table-createdat {
  width: 25%;
}

.results-table-type {
  width: 25%;
}

.results-table-description {
  width: 50%;
}