.form-wrapper {
  width: 31.25rem;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background: $white;
  border-radius: 4px;

  @media screen and (max-width: $break-phone) {
    width: 95%;
  }
}

.form-header-wrapper {
  width: 90%;
}

.form-header {
  padding: 1rem;
  font-family: "Cabin", sans-serif;
  font-size: 2rem;
  text-align: center;
}

.form-description {
  margin: 0 auto;
  width: 75%;
  font-family: "Libre Franklin", sans-serif;
  font-size: 1rem;
  color: gray;
  text-align: center;
}

.form-input-wrapper {
  width: 90%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  box-sizing: border-box;
}

.form-input-label {
  padding-bottom: 0;
  font-family: "Libre Franklin", sans-serif;
  font-size: 0.9rem;
}

@mixin form-input {
  width: 100%;
  display: block;
  padding: 0.75rem;
  font-family: "Libre Franklin", sans-serif;
  font-size: 1rem;
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid $inputgray;

  &:focus {
    outline-width: 1px;
    outline-color: $pacificblue;
  }
}

.form-textarea {
  @include form-input;
  min-height: 6.25rem;
  max-width: 100%;
  resize: none;
  margin-bottom: 2rem;
}

.form-btn-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-redirect-wrapper {
  width: 90%;
  height: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-redirect-text {
  padding: 1rem;
  font-family: "Libre Franklin", sans-serif;
  font-size: 0.8rem;
  text-decoration: none;
  color: black;
  transition: all .3s;

  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}

.form-error-message {
  color: red;
}

// Config sizes for views dir
.signin {
  height: 31.25rem;
}

.register {
  height: 35rem;
}

.dashboard {
  min-height: 10rem;
}

.addworkout {
  height: 40rem;
}

// Various config for view inputs
.dashboard-input {
  @include form-input;
  margin-top: 1rem;
  
  ::placeholder {
    font-size: 1rem;
  }
}

.registration-input {
  @include form-input;
}

.addWorkout-input {
  @include form-input;
  min-height: 80px;
}